body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(16, 30, 68);
    
}

.container {
    padding: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 20px solid bisque;
    
}

.welcome h1 {
    font-size: 50px;
    padding: 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.welcome p {
    text-align: center;
    font-size: 27px;
    font-family: 'Trebuchet MS';
    color:aliceblue;
    font-style: italic;
}

.button-container{
    display: flex;

}

button {
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet MS';
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(255, 187, 0);
    color:rgb(255, 255, 255);
    font-weight: 700;
}

#respContainer {
    background-color: bisque;
    color:rgb(112, 64, 0);
    padding: 10px;
    margin: 8px;
    border:2px solid rgb(77, 77, 77);
    display: flex;
    
}

.button-container > p {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}